<section layout="row" layout-xs="column" class="portfolio">
    <div id="left-side" class="projects" flex="{{flexwidth2}}">
      <a href="#"><img id="logo" src="../../images/erin-logo.png"></a>
      <div id="static-content">
        <h1>Erin Goncer</h1>
        <div id="bio">
          <h2>Digital design, front end web development, branding</h2>
          <p>Something about this, or that, and then the other thing. Much love. Something about this, or that, and then the other thing. Much love.</p>
        </div>
      </div>
      <nav>
        <ul>
          <li><a href='#'>Home</a></li>
          <li><a href='#'>Contact</a></li>
          <li><a href='http://linkedin.com/in/eringoncer' target="_blank">Linked In</a></li>
        </ul>
      </nav>
    </div>
    <div class="projects" flex="{{flexwidth1}}" flex-xs="100" snapscroll="" fit-window-height="" enable-arrow-keys="" snap-index="snapIndex" ng-swipe-up="snapIndex=snapIndex+1" ng-swipe-down="snapIndex=snapIndex-1">
        <div ng-class="expanded ? 'project-expanded': 'project-right'" ng-click="changeFlex(true)"ng-init="snapIndex=0">
          <div class="content">
            <p>{{projects[0].Title}}</p>
            <p>{{projects[0].Type}}</p>
            <p>{{projects[0].Desc}}</p>
            <img src="{{projects[0].img}}" />
          </div>
        </div>
        <div ng-class="expanded ? 'project-expanded': 'project-right'" class="projects" ng-click="changeFlex(true)" ng-init="snapIndex=1">
          <div class="content">
            <p>{{projects[1].Title}}</p>
            <p>{{projects[1].Type}}</p>
            <p>{{projects[1].Desc}}</p>
            <img src="{{projects[1].img}}" />
          </div>
        </div>
        <div ng-class="expanded ? 'project-expanded': 'project-right'" class="projects" ng-click="changeFlex(true)" ng-init="snapIndex=0">
          <div class="content">
            <p>{{projects[2].Title}}</p>
            <p>{{projects[2].Type}}</p>
            <p>{{projects[2].Desc}}</p>
            <img src="{{projects[2].img}}" />
          </div>
        </div>
    </div>

</section>
